@font-face {
  font-family: 'magic';
  src: URL('fonts/magic.ttf') format('truetype');
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'magic';
  background-color: antiquewhite;
}

h1 {
  font-size: 35px;
  text-decoration: underline;
  font-style: italic;
  margin-bottom: -20px;
}

canvas {
  display: block;
  border: 7px ridge red;
  margin: 5px;
}